.pointer-on-hover {
	cursor: pointer;
}

.user-view-profile-picture {
	max-height: 9rem
}

.profile-picture-post-container {
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
}

.profile-picture-post-container img {
	min-width: 50px;
	max-width: none;
	height: 50px;
	margin: 0 -100%;
}

.profile-picture-container {
	width: 150px;
	height: 150px;
	text-align: center;
	overflow: hidden;
	border-radius: 50%;
}

.profile-picture-container img {
	min-width: 150px;
	max-width: none;
	height: 150px;
	margin: 0 -100%;
}

.profile-picture-comment-container {
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
}

.profile-picture-comment-container img {
	min-width: 30px;
	max-width: none;
	height: 30px;
	margin: 0 -100%;
}
